.wrapper {
    width: 350px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    background-color: aquamarine;
    box-shadow: rgba(0, 0, 0, 0.12) 4px 1px 4px, rgba(0, 0, 0, 0.06) 0px 4px 4px,
        rgba(0, 0, 0, 0.16) 1px 4px 6px;
}
